
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table.dataTable tbody td {
        padding: 5px !important;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Registrar Préstamo</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detalle del Lector</h5>
                        <div class="row">
                            <div class="col-12">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Código:</span>
                                    </div>
                                    <input type="hidden" id="hdidlector" value="0" />
                                    <input type="text" class="form-control" style="background-color: #F9F9F9" disabled="disabled" id="txtcodigopersona">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" id="btnbuscarlector" type="button">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nombres:</span>
                                    </div>
                                    <input type="text" class="form-control" disabled="disabled" style="background-color: #F9F9F9" id="txtnombrespersona">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Detalle del Prestamo</h5>
                        <div class="row">
                            <div class="col-12">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Articulo:</span>
                                    </div>
                                    <input type="hidden" id="hdidlibro" value="0" />
                                    <input type="text" class="form-control" disabled="disabled" style="background-color: #F9F9F9" id="txttitulolibro">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" id="btnbuscarlibro" type="button">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Fecha Devolucion:</span>
                                    </div>
                                    <input readonly type="text" class="form-control fecha" id="txtfechadevolucion" disabled>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Tipo de prestamo</span>
                                    </div>
                                    <select id="txtestadolibros">
                                        <option value="option1">A Sala</option>
                                        <option value="option2">A Domicilio</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button id="btnregistrar" class="btn btn-success w-25">Registrar</button>
                <button class="btn btn-danger w-25 ml-4" disabled id="btncancelarregistro">Cancelar</button>
            </div>
        </div>



    </div>
</div>


<div id="modal2" class="modals" style="display:none">
    <div class="modal-contents">

        <form id="password-form">
            <label for="password-input">Ingresa la contraseña del administrador:</label>
            <input type="password" id="password-input" name="password-input">
            <button type="submit" class="btn btn-success w-25">Verificar</button>
        </form>

    </div>
</div>






<style>

    .modalss {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .modal-contents {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
</style>

<script>


    // Obtener la fecha de hoy
    var hoy = new Date();

    // Formatear la fecha como "yyyy-mm-dd"
    var dia = hoy.getDate();
    var mes = hoy.getMonth() + 1;
    var anio = hoy.getFullYear();
    if (dia < 10) {
        dia = "0" + dia;
    }
    if (mes < 10) {
        mes = "0" + mes;
    }
    var fechaActual = dia + "/" + mes + "/" + anio;

    // Obtener el input de fecha por su ID
    var inputFecha = document.getElementById("txtfechadevolucion");

    // Asignar la fecha de hoy al valor del input
    inputFecha.value = fechaActual;









    const txtfechadevolucion = document.getElementById("txtfechadevolucion");
    const txtestadolibros = document.getElementById("txtestadolibros");
    const modal1 = document.getElementById("modal1");
    const btnregistrar = document.getElementById("btnregistrar");
    const modal2 = document.getElementById("modal2");
    const modal3 = document.getElementById("modal3");

    txtestadolibros.addEventListener("change", function () {
        const selectedOption = txtestadolibros.value;
        switch (selectedOption) {
            case "option1":
                modal2.style.display = "none";
                txtfechadevolucion.disabled = true;
                btnregistrar.style.pointerEvents = "";
                btnregistrar.style.opacity = "";

                break;
            case "option2":
                modal2.style.display = "flex";
                btnregistrar.style.pointerEvents = "none";
                btnregistrar.style.opacity = 0.5;
                txtfechadevolucion.removeAttribute("disabled");

                break;
            case "option3":
                modal3.style.display = "block";
                break;
            default:
                break;
        }
    });













</script>

@using System.Data.SqlClient;


@{

    // Configurar la cadena de conexión
    string connectionString = "Data Source=.;Initial Catalog=DB_BIBLIOTECA;Integrated Security=True";

    // Crear la conexión
    SqlConnection connection = new SqlConnection(connectionString);
    connection.Open();

    // Crear el comando SQL
    SqlCommand command = new SqlCommand("SELECT * FROM PERSONA WHERE IdTipoPersona = 1", connection);

    // Ejecutar la consulta SQL y leer los datos
    SqlDataReader reader = command.ExecuteReader();
    while (reader.Read())
    {
        int id = reader.GetInt32(0);
        String pass = reader.GetString(4);







        <script>


    const form = document.getElementById("password-form");
    const password = @pass;

    form.addEventListener("submit", function (event) {
        event.preventDefault();

        const passwordInput = document.getElementById("password-input").value;

        if (passwordInput == @pass.ToString()) {
            alert("La contraseña es correcta.");
            btnregistrar.style.pointerEvents = "";
            btnregistrar.style.opacity = "";

        } else {
            alert("La contraseña de administrador es incorrecta.");
        }
    });


        </script>


    }













    // Cerrar la conexión
    connection.Close();
}










<!-- Modal -->
<div class="modal fade" id="registromodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Terminar Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Estado del libro:</label>
                    <textarea class="form-control" id="txtestadolibro"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Volver</button>
                <button type="button" class="btn btn-primary" id="btnGuardarRegistro">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="lectoresmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Lista de Lectores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tablalector" style="width:100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Correo</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="librosmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Lista de Libros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="tablalibros" style="width:100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Titulo</th>
                                        <th>Categoria</th>
                                        <th>Marca</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







@section scripts{
    <script>

        var tablalector;
        var tablalibro;
        $(document).ready(function () {

           tablalector = $('#tablalector').DataTable({
                responsive:true,
                "ajax": {
                    "url": '@Url.Action("ListarPersona", "Biblioteca")',
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": function (json) {

                        return json.data.filter(function (item) {
                            return item.oTipoPersona.IdTipoPersona == 3;
                        });
                    }
                },
               "columns": [
                    {
                        "data": "IdPersona", "render": function (data, type, row, meta) {

                            return $("<button>").addClass("btn btn-primary btn-select-lector btn-sm").append(
                                $("<i>").addClass("fas fa-check")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML

                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    },
                    { "data": "Codigo" },
                    { "data": "Nombre" },
                    { "data": "Apellido" },
                    { "data": "Correo" }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
           });

           tablalibro = $('#tablalibros').DataTable({
                responsive:true,
                "ajax": {
                    "url": '@Url.Action("ListarLibro", "Biblioteca")',
                    "type": "GET",
                    "datatype": "json"
                },
               "columns": [
                    {
                        "data": "IdLibro", "render": function (data, type, row, meta) {

                            return $("<button>").addClass("btn btn-primary btn-select-libro btn-sm").append(
                                $("<i>").addClass("fas fa-check")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML

                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    },
                    { "data": "Titulo" },
                    {
                        "data": "oAutor", render: function (data) {
                            return data.Descripcion
                        }
                    },
                    {
                        "data": "oCategoria", render: function (data) {
                            return data.Descripcion
                        }
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });




           $.datepicker.regional['es'] = {
               closeText: 'Cerrar',
               monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
               monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',  'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
               dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
               dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié;', 'Juv', 'Vie', 'Sáb'],
               dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
               weekHeader: 'Sm',
               dateFormat: 'dd/mm/yy',
               firstDay: 1,
               isRTL: false,
               showMonthAfterYear: false,
               yearSuffix: '',
               maxDate: "+2d"
           };
           $.datepicker.setDefaults($.datepicker.regional['es']);


           $("#txtfechadevolucion").datepicker({
               minDate: new Date()

           });
       })


        $(function () {
           $("#txtfechadevolucion").datepicker({
               maxDate: "+3d" // fecha máxima es un año desde hoy
           });
       });


        $("#btnregistrar").on("click", function () {
           $("#txtestadolibro").val("");
           $("#registromodal").modal("show")
       })

        $("#btnGuardarRegistro").on("click", function () {

           var request = {
               objeto: {
                   oEstadoPrestamo: { IdEstadoPrestamo: 1 },
                   oPersona: { IdPersona: $("#hdidlector").val() },
                   oLibro: { IdLibro: $("#hdidlibro").val() },
                   TextoFechaDevolucion: $("#txtfechadevolucion").val(),
                   EstadoEntregado: $("#txtestadolibro").val()
               }
           };

           jQuery.ajax({
                url: '@Url.Action("GuardarPrestamos", "Prestamo")',
                type: "POST",
                data: JSON.stringify(request),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        limpiarTodo();
                        $("#registromodal").modal("hide")
                        swal("Listo", data.mensaje, "success");
                    } else {
                        swal("Lo sentimos", data.mensaje, "warning");
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });


       })

        $("#btnbuscarlector").on("click", function () {
           tablalector.ajax.reload();
           $("#lectoresmodal").modal("show")
       })
        $("#btnbuscarlibro").on("click", function () {
           tablalibro.ajax.reload();
           $("#librosmodal").modal("show")
       })



        $(document).on('click', '.btn-select-lector', function (event) {
           var json = $(this).data("informacion")
           $("#hdidlector").val(json.IdPersona)
           $("#txtcodigopersona").val(json.Codigo)
           $("#txtnombrespersona").val(json.Nombre + ' ' + json.Apellido)
           $("#lectoresmodal").modal("hide")

           $("#btncancelarregistro").prop("disabled",false)
       });

        $(document).on('click', '.btn-select-libro', function (event) {
           var json = $(this).data("informacion")
           $("#hdidlibro").val(json.IdLibro)
           $("#txttitulolibro").val(json.Titulo)
           $("#librosmodal").modal("hide")

           $("#btncancelarregistro").prop("disabled", false)
       });

        $("#btncancelarregistro").on("click", function () {
           limpiarTodo();
       })

             function limpiarTodo() {
           $("#hdidlector").val("0")
           $("#txtcodigopersona").val("")
           $("#txtnombrespersona").val("")
           $("#hdidlibro").val("0")
           $("#txttitulolibro").val("")
           $("#txtfechadevolucion").val("")
           $("#btncancelarregistro").prop("disabled", true)
       }
    </script>


}
